player-connection-mode=Listen
player-connection-guid=791040105
player-connection-debug=0
player-connection-ip=10.0.0.26
player-connection-ip=172.18.232.17
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=1
vr-device-list=Oculus,OpenVR
hdr-display-enabled=0
